*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#93A8AC;
    text-align: center;
}
h1 {
    color: brown;
}
.content{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1.5vmin;
}
.box{
    width: 18vmin;
    height: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 0.3rem black;
    font-size: 8vmin;
    color: brown;
    background-color: white;
}
#resbtn{
    padding: 1rem;
    border-radius:1rem ;
    background-color: black;
    color: white;
    box-shadow: 0 0 0.3rem white;
    font-size: 1.25rem;
}
p{
    font-size: 5vmin;
    color: brown;
}
.msg-container{
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.new-btn{
    padding: 0.5rem;
    border-radius:1rem ;
    background-color: black;
    color: white;
    box-shadow: 0 0 0.3rem white;
    font-size: 1.25rem;
}
.hide{
    display: none;
}